# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Calculator run tests

on:
  push:
    branches: [ devBranch ]
  pull_request:
    branches: [ devBranch ]
    
    branches-ignore:
      - 'master'

jobs:
  test:
    name: Unit Test
    runs-on: windows-latest
    
  #build:

    #runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
    #- name: Build with Maven
      #run: mvn -B package --file pom.xml
    - name: Maven Package
      run: mvn -B clean package -DskipTests
    - name: Maven Verify
      run: mvn -B clean verify
