name: Calculator run tests

on:
  push:
    branches: [ devBranch ]
  pull_request:
    branches: [ devBranch ]
    

jobs:
  test:
    name: Unit Test
    runs-on: windows-latest


    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 15
      uses: actions/setup-java@v2
      with:
        java-version: '15'
        #distribution: 'adopt'
        
    - name: Build with Maven
      run: mvn --batch-mode --update-snapshots test

